{erl_opts, [
	warn_export_all,
	warn_missing_spec,
	debug_info
]}.

%% NOTE: rebar is able to make undefined_function_calls and
%% exports_not_used predefined xref checks only, but
%% exports_not_used does not work with subapps dirs structure
%% It is necessary to implement manual exports_not_used xref check
{xref_checks, [undefined_function_calls]}.

{sub_dirs, ["rel"]}.

{deps, [
    {alley_common, ".*", {git, "https://github.com/PowerMeMobile/alley_common", {branch, "master"}}},
    {alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {branch, "master"}}},
    {alley_services, ".*", {git, "https://github.com/PowerMeMobile/alley_services.git", {branch, "master"}}},
    {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", "def76b9c82d79c0f2b4"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", {branch, "as_rpc"}}},
    {gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.2.16"}}},
    {record_info, ".*", {git, "https://github.com/bipthelin/erlang-record_info.git", "HEAD"}},
    {sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}},
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", {branch, "master"}}},
    {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
