{erl_opts, [
	{parse_transform, lager_transform}
]}.

{sub_dirs, ["rel"]}.

{deps, [
	{erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", "def76b9c82d79c0f2b4"}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git","371afcdbae6f37048ef3"}},% master
	{rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", "9f371d007bd166cdc25b"}}, % master
	{gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.2"}}},
	{gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "81ff4ce6d0ea2136845e"}}, % master
	{record_info, ".*", {git, "https://github.com/bipthelin/erlang-record_info.git", "HEAD"}},

	{sync, ".*", {git, "https://github.com/ten0s/sync.git", "edd9f49a4203bf2c95c2"}}, % dk_support_release
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", "e0dff378fd154b9eb7a3"}}, % master
	{eper, ".*", {git, "git://github.com/massemanet/eper.git", "9c7be6201e74b35c62b8"}} % master
]}.
