{erl_opts, [
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{sub_dirs, ["rel"]}.

{deps, [
    {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", "def76b9c82d79c0f2b4"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {branch, "master"}}},
    {rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", {tag, "1.0.0"}}},
    {gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.2"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.2.16"}}},
    {record_info, ".*", {git, "https://github.com/bipthelin/erlang-record_info.git", "HEAD"}},
    {alley_common, ".*", {git, "https://github.com/PowerMeMobile/alley_common", {branch, "master"}}},

    {sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}},
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", {branch, "master"}}},
    {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

{xref_checks, [
    exports_not_used,
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
